$white: hsl(0, 100%, 100%);
$black: hsl(0, 0%, 0%);
$purple-950: hsl(292, 42%, 14%);
$purple-600: hsl(292, 16%, 49%);
$purple-100: hsl(275, 100%, 97%);
$violet-600: hsl(281, 83%, 54%);

body {
  background-color: $purple-100;
  background-image: url("/assets/images/background-pattern-mobile.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}

.faq-accordion {
  background: $white;
}

@media (min-width: 768px) {
  body {
    background-image: url("/assets/images/background-pattern-desktop.svg");
  }
}

@media (min-width: 1024px) {
}
